@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center" style="border-radius:0; background-color: #e9f2e6;">
    <i class="fas fa-mortar-pestle fa-5x"></i>
    <h1 class="display-4">Larder</h1>
    <p class="lead">The recipe book, reinvented</p>
    <p><button href="https://asp.net" class="btn btn-success btn-lg">Get Started &raquo;</button></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Build Up Your Larder</h2>
        <p>
            The pantry is the backbone of the kitchen. Having new flavors and textures on hand spice up any meal. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>What's Your Signature Dish?</h2>
        <p>Larder provides an easy way to keep and manage recipes.</p>
    </div>
    <div class="col-md-4">
        <h2>Course out your Meal</h2>
        <p>Tasting menus rely on switching up your plating styles accross a series of courses. Larder abstracts the plating style form the recipe.</p>
    </div>
</div>
