@model Larder.Models.LarderList

@{
    ViewBag.Title = "Larder";
}

<h1 class="display-4 float-left">Larder</h1>
@Html.Partial("_SeasonFilter",Model.SeasonFilter)
@Html.Partial("_IndexBody", Model.Larders)


