body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a {
    color: #22c900;
}

a:hover{
    color:lightgreen;
}

.btn {
    border-radius: 0rem;
}

.far.fa-edit, .fa-trash-alt {
    color: #cf0e00;
}

.far.fa-edit:hover, .fa-trash-alt:hover{
    color: red;
}


nav {
    background-color: #00911e;
}

nav a{
    color:#e8ffed !important;
}

.navbar-toggler{
}

body {
    background-color: #cfffd4;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.body-content{
    background-color: #fafffb;
}

.detail-edit{
    color: darkorange;
}
.detail-edit:hover{
    color:orange;
}

.trash-toggle{
    color: black;
}

.detail{
    display: none;
}