@model Larder.Models.RecipeList

@{
    ViewBag.Title = "Recipes";
}

<h1 class="display-4 float-left">Recipes</h1>
@Html.Partial("_SeasonFilter", Model.SeasonFilter)
@Html.Partial("_IndexBody", Model.Larders)


