@model Larder.Models.PlatingDetail

@{
    ViewBag.Title = "Details";
}

@Html.Partial("_FoodDetails", Model)
@Html.Partial("_RecipeList", Model.Recipes)

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

